export(squat_binom_directional_test)
export(squat_binom_overdisp_test)
export(squat_multi_binom_unidir)
export(squat_single_binom_bidir)
export(squat_binom_overdisp_rand)
export(squat_multi_binom_bidir)
export(squat_multi_binom_unidir)
import(Rcpp)
importFrom(Rcpp,evalCpp)
useDynLib(squat)
importFrom("stats", "dbinom", "pbinom", "pnorm", "qnorm", "runif")
